<?xml version="1.0" encoding="UTF-8" ?>
<!--日志配置-->
<Configuration>
    <Properties>
        <!--日志输出的文件夹-->
        <!--tomcat目录/bin/logs-->
        <!--<Property name="log.folder">
            logs
        </Property>-->
    </Properties>
    <Appenders>
        <!--输出到控制台-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--时间 [线程名] 日志级别 logger名称 > 输出信息\n-->
            <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{12} > %msg%n"/>
        </Console>
        <!--输出info日志到${log.folder}/info.log-->
        <!--<RollingFile name="InfoRollingFile" fileName="${log.folder}/info.log"
                     filePattern="${log.folder}/info-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{12} > %msg%n"/>
            <Filters>
                &lt;!&ndash;只输出info级别的日志&ndash;&gt;
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                &lt;!&ndash;基于时间滚动&ndash;&gt;
                <TimeBasedTriggeringPolicy/>
                &lt;!&ndash;单文件最大大小为10MB&ndash;&gt;
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>-->

    </Appenders>
    <Loggers>
        <!--不输出spring日志-->
        <!--        <Logger name="org.springframework" level="debug" additivity="false">-->
        <!--        </Logger>-->
        <Root level="info">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="InfoRollingFile"/>-->
        </Root>
    </Loggers>
</Configuration>